.unit-badge {
    padding: 4px;
    font-size: 0.8rem;
    font-weight: 500;
    background-color: #E5E4E2;
    border-radius: 0.2rem;
}

.unit-profile-button {
    background-color: #E5E4E2;
}

.fw-700 {
    font-weight: 700;
}